# To set API keys, copy this as .env and fill in the values
# API keys are required to rewrite the VCR cassettes for the tests
ANTHROPIC_API_KEY="anthropic_api_key"
MISTRAL_API_KEY="mistral_api_key"
OPENAI_API_KEY="openai_api_key"
