site_name: Magentic
site_description: Seamlessly integrate LLMs as Python functions
strict: true
site_url: https://magentic.dev/

repo_name: jackmpcollins/magentic
repo_url: https://github.com/jackmpcollins/magentic
edit_uri: blob/main/docs/

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme)"
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: purple
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: purple
      accent: yellow
  features:
    - content.action.edit
    - content.code.copy
    - content.code.select
    - content.tooltips
    - navigation.expand
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - search.suggest

plugins:
  - mkdocs-jupyter:
      # ignore_h1_titles: true
      execute: false
  - search

markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.extra

extra_css:
  - css/jupyter-notebook.css

extra:
  analytics:
    provider: google
    property: G-CWJ8LL02SG
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: octicons/thumbsdown-16
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback!
        - icon: octicons/thumbsup-16
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!

# https://www.mkdocs.org/user-guide/configuration/#validation
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn

nav:
  - Overview: index.md
  - chat-prompting.md
  - asyncio.md
  - streaming.md
  - vision.md
  - formatting.md
  - configuration.md
  - type-checking.md
  - Examples:
      - examples/registering_custom_type.ipynb
      - examples/retrieval_augmented_generation.ipynb
      - examples/chain_of_verification.ipynb
