[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "agentic"
version = "0.1.0"
description = "Integrate LLMs as Python functions"
authors = ["Jack Collins"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8"
