name: Publish

on:
  release:
    types:
      - created

run-name: Publish ${{ github.event.release.tag_name }} to PyPI

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for trusted publishing to PyPI
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
      - name: Set up uv
        uses: astral-sh/setup-uv@v2
        with:
          uv-version: latest
      - name: Install dependencies
        run: uv sync --all-extras --dev
      - name: Build package
        run: uv build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
